<?xml version="1.0"?>

<config>
    <modules>
        <Arcyro_Document>
            <version>1.0.0</version>
        </Arcyro_Document>
    </modules>
    <global>
        <resources>
            <arcyro_document_setup>
                <setup>
                    <module>Arcyro_Document</module>
                    <class>Arcyro_Document_Model_Resource_Setup</class>
                </setup>
            </arcyro_document_setup>
        </resources>
        <blocks>
            <arcyro_document>
                <class>Arcyro_Document_Block</class>
            </arcyro_document>
        </blocks>
        <helpers>
            <arcyro_document>
                <class>Arcyro_Document_Helper</class>
            </arcyro_document>
        </helpers>
        <models>
            <arcyro_document>
                <class>Arcyro_Document_Model</class>
                <resourceModel>arcyro_document_resource</resourceModel>
            </arcyro_document>
            <arcyro_document_resource>
                <class>Arcyro_Document_Model_Resource</class>
                <entities>
                    <attachment>
                        <table>arcyro_document_attachment</table>
                    </attachment>
                    <attachment_category>
                        <table>arcyro_document_attachment_category</table>
                    </attachment_category>
                    <attachment_category_roles>
                        <table>arcyro_document_attachment_category_roles</table>
                    </attachment_category_roles>
                </entities>
            </arcyro_document_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <arcyro_document>
                    <file>arcyro_document.xml</file>
                </arcyro_document>
            </updates>
        </layout>
        <translate>
            <modules>
                <Arcyro_Document>
                    <files>
                        <default>Arcyro_Document.csv</default>
                    </files>
                </Arcyro_Document>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <arcyro_document_attachment_category>
                        <type>singleton</type>
                        <class>arcyro_document/adminhtml_observer</class>
                        <method>addCategoryAttachmentBlock</method>
                    </arcyro_document_attachment_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_save_after>
                <observers>
                    <arcyro_document_attachment_category>
                        <type>singleton</type>
                        <class>arcyro_document/adminhtml_observer</class>
                        <method>saveCategoryAttachmentData</method>
                    </arcyro_document_attachment_category>
                </observers>
            </catalog_category_save_after>
            <catalog_category_save_after>
                <observers>

                </observers>
            </catalog_category_save_after>
        </events>

    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Arcyro_Document before="Mage_Adminhtml">Arcyro_Document_Adminhtml</Arcyro_Document>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <arcyro_document>
                    <file>arcyro_document.xml</file>
                </arcyro_document>
            </updates>
        </layout>
        <translate>
            <modules>
                <Arcyro_Document>
                    <files>
                        <default>Arcyro_Document.csv</default>
                    </files>
                </Arcyro_Document>
            </modules>
        </translate>
    </frontend>
    <default>
        <arcyro_document>
        </arcyro_document>
    </default>
</config>
